*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.style1{
    display: block;
    width: 0px;
    overflow: hidden;
}

.style2{
    display: block;
    width: 180px;
}

#title{
    transition: 0.2s;
}


.my-button{
    height: 30px;
    width: 80px;
    border-radius: 20px;
    border: none;
    background-color: #ffa7a7;
    transition: 0.3s;
}